<div class="ui segment" id="chart"></div>
<script>
  dataTemp = {
    labels: [
      {{#each data.trendData.arrDates}}
        "{{getLocalTime this}}",
      {{/each}}
    ],
    datasets: [
      {
      name: "Temperature", type: "bar",
      values: [
        {{#each data.trendData.arrTemp}}
          "{{this}}",
        {{/each}}
      ]
      },
      {
        name: "Wind Speed", type: "bar",
        values: [
          {{#each data.trendData.arrWind}}
            "{{this}}",
          {{/each}}
        ]
      },
      {
        name: "Pressure", type: "bar",
        values: [
          {{#each data.trendData.arrPressure}}
            "{{this}}",
          {{/each}}
        ]
      }
    ]
  };
  new frappe.Chart("#chart", {
    data: dataTemp,
    type: 'axis-mixed',
    height: 180,
    colors: ["red"]
  });

</script>