<div class="ui segment" id="chartpressure"></div>
<script>
  data = {
    labels: [
      {{#each data.trendData.arrDates}}
        "{{getLocalTime this}}",
      {{/each}}
    ],
    datasets: [{
      name: "Wind Speed", type: "line",
      values: [
        {{#each data.trendData.arrPressure}}
          "{{this}}",
        {{/each}}
      ]
    }
    ]
  };
  new frappe.Chart("#chartpressure", {
    data: data,
    type: "line",
    height: 180,
    colors: ["red"]
  });
</script>