{{> menu id="dashboard"}}

<section class="ui segment">
    {{#each data.stations}}
        <section class="ui segment">
          <h3 class="ui header">{{name}}</h3>
          {{>  latestreading}}
          <br>
          <a href="/station/{{id}}" class="ui icon button"><i class="folder open outline icon"></i></a><a href="/dashboard/deletestation/{{id}}" class="ui icon button"><i class="icon trash"></i></a>
        </section>
    {{/each}}
  {{> addstation}}
</section>
