{{> menu id="dashboard"}}

<section class="ui segment">
    {{#each stations}}
        <section class="ui segment">
            <h3 class="ui header">{{name}}</h3>
            <a href="/station/{{id}}"> View </a>
        </section>
    {{/each}}
</section>
