{{> menu}}
{{#each data.stations}}
  {{>  latestreading}}
{{/each}}
<section class="ui segment">
    <h2 class="ui header">
        {{station.name}}
    </h2>
        {{> listreadings}}
    {{> addreading}}
</section>
<section class="ui segment">
  <div>
    <h4>
      Temperature Trends
    </h4>
    {{>charttemp}}
  </div>

</section>
<section class="ui segment">
  <div>
    <h4>
      Temperature Trends
    </h4>
    {{>charttemp}}
  </div>

</section>

