{{> menu}}
{{#each data.stations}}
  {{>  latestreading}}
{{/each}}
<section class="ui segment">
    <h2 class="ui header">
        {{station.name}}
    </h2>
        {{> listreadings}}
    {{> addreading}}
</section>

<section class="ui segment">
  <div>
    <h4>
      Temperature Trends
    </h4>
    {{>charttemp}}
  </div>
  <div>
    <h4>
      Wind Speed Trends
    </h4>
    {{>chartwind}}
  </div>
  <div>
    <h4>
      Pressure Trends
    </h4>
    {{>chartpressure}}
  </div>
</section>

